body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.links a {
  display: inline-block;
  text-decoration: none;
  color: #6c757d;
  margin-bottom: 5px;
}

/* About page */

.abouthero {
  font-size: 22px;
}

.aboutteam {
  font-size: 1.25rem;
}

/* Product page */

.one-line {
  white-space: nowrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
